<h3 class="text-center">Γραμματεία</h3>

<div class="d-flex justify-content-between mt-4">
    <a class="btn btn-primary" href="/rooms">
        Αίθουσες
    </a>

    <a class="btn btn-primary" href="">
        Εισαγωγή Δηλώσεων Φοιτητών
    </a>

    <a class="btn btn-primary" href="">
        Εισαγωγή Μαθημάτων
    </a>

    <a class="btn btn-primary" href="">
        Προβολή Παρουσιών
    </a>
</div>