header {
    border-bottom: 1px solid black;
    height: 100px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.seat_container {
    position: relative;
    margin-right: 5px;
}

.seat_square {
    border: 1px solid darkgrey;
    width: 40px;
    height: 40px;
    border-radius: 3px;
}

.action_btn:hover {
    opacity: 0.6;
    cursor: pointer;
}

.delete_btn {
    position: absolute;
    color: red;
    font-size: 20px;
}

.delete_btn__seat {
    bottom: 40px;
    left: 30px;
}

.delete_btn__seat.delete_btn__seat_rel {
    position: relative;
    bottom: 30px;
    left: 30px;
    margin-right: -15px;
}

.delete_btn__row {
    top: 10px;
    left: -25px;
}

.add_btn {
    color: green;
    font-size: 20px;
}

.room_row_container {
    margin-bottom: 25px;
    border-bottom: 1px solid;
}

.room_row {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.add_multi {
    display: flex;
    font-size: 14px;
    margin-top: 5px;
}

.add_multi__seats {
    margin-left: 30px;
    margin-bottom: 10px;
}

.add_multi input {
    width: 22px;
    height: 20px;
}

.empty_row {
    height: 40px;
    width: 100%;
    border: 1px solid lightgray;
    background-color: lightgray;
    margin-bottom: 10px;
}

input.invalid {
    color: red;
    border-color: red;
}

.upload_file_btn {
    margin-left: auto;
    width: fit-content;
    display: block;
}

.selectable_room_seat_container:hover {
    opacity: 0.6;
    cursor: pointer;
}

.seat_container.selected .seat_square {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.seat_container.occupied .seat_square {
    background-color: gray;
}

.opacity-75 {
    opacity: .75;
}

#view_attendance_room .seat_container.occupied:hover {
    opacity: 0.6;
}

.icon_finalized {
    font-size: 20px;
}

.icon_finalized__check {
    color: green;
}

.icon_finalized__xmark {
    color: red;
}

.grid_col_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid_col_index {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    text-align: center;
}

.grid_col_index:first-child {
    margin-left: 12px;
}

.grid_row_index {
    margin-right: 5px;
}

.responsive_form {
    width: 25%;
}

.secretary_btns_container .btn {
    width: 250px;
    height: 100px;
    display: flex;
}

.secretary_btns_container .arrow_icon {
    align-self: flex-end;
    margin-left: auto;
}

.arrow_icon {
    width: 30px;
    height: 30px;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(31deg) brightness(105%) contrast(98%);
}

.secretary_container .secretary_btns_container {
    margin-top: 50px;
}

@media screen and (max-width: 450px) {
    .seat_square {
        width: 20px;
        height: 20px;
    }

    .grid_col_index {
        width: 20px;
        height: 20px;
        font-size: 12px;
    }

    .grid_col_index:first-child {
        margin-left: 9px;
    }

    .grid_row_index {
        font-size: 12px;
    }

    header {
        font-size: 12px;
    }

    header h4 {
        font-size: 16px;
    }

    .table th {
        font-size: 14px;
        vertical-align: top !important;
    }

    .table td {
        font-size: 12px;
    }

    .responsive_form {
        width: 100%;
    }
}